*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 50px;
    width: 100%;
    background-color: #FF9A4B;
}
main{
    background-color: white;
    width: 100%;
    margin: 50px auto;
    display: flex;
    width: 960px;
}
.box{
    margin-right: 30px;
    width: 300px;
    position: relative;
    background-color: #EEEEEE;
    padding: 10px;
}
.box3{
    margin-right: 0;
}
.item-label{
    background-color: #FF9A4B;
    color: white;
    padding: 3px;
    position: absolute;
    top: 0;
    left: 0;
}
.image{
    /*width: 280px; */ /*boxにpaddingを10pxで指定しているため、ここで280pxは必要ない！*/
    height: 150px;
  
    background-size: cover;
    background-position: bottom;
    
}
.image1{
    background-image: url(img/flow01.png);
}

.image2{
    background-image: url(img/flow02.png);
}
.image3{
    background-image: url(img/flow03.png);
}

.item-text h3{
    padding: 15px 0 5px;
}

footer{
    height: 50px;
    width: 100%;
    background-color: #AAAAAA;
}
@media screen and (max-width: 768px) {
    main{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .box{
        width: 90%;
        margin: 0px auto 20px;
    }
    .box3{
        margin-bottom: 0;
    }
    .image{
        height: 150px;
    }

}